<div id={$$props.id} class:hidden class={divClass} role="alert">
	@* <div class="flex items-center {textColor}">
		{#if icon}
			<svelte:component this={icon} class="flex-shrink-0 w-5 h-5 mr-3" />
		{/if}

		<div class="text-sm">
			<slot />
		</div>

		{#if dismissable}
			<CloseButton {color} on:click={handleHide} on:click={handleAlert} />
		{/if}
	</div>
	<slot name="extra" /> *@
</div>

@code {

}